<!doctype html>
<html lang="en">
	<head>
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
		<link rel="manifest" href="/favicon/site.webmanifest">
		<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
	
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="Thien the user and Bootstrap contributors">
	    <meta name="generator" content="Jekyll v3.8.5">
	    <title>Crawling</title>

	    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="assets/css/global.css">
	    <link rel="stylesheet" type="text/css" href="assets/css/jquery.dataTables.min.css">

	    <script type="text/javascript" src="assets/js/Chart.js"></script>
	    <script type="text/javascript" src="assets/js/angular.js"></script>
	    <script type="text/javascript" src="assets/js/angular-route.js"></script>

	    <!--<script type="text/javascript" src="assets/json/places.json" ></script>-->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
	        <!--[if lte IE 8]><link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.ie.css" /><![endif]-->
	    <script type="text/javascript" src="assets/js/tile.stamen.js"></script>
	    <script type="text/javascript" src="assets/js/utf8.js"></script>
	    <style>
	      #map {
	          width: 80%;
	          height: 500px;
	          margin: 20px auto auto auto;

	      }

	      .header {
	          margin: auto auto auto auto;
	          width: 100%;
	          text-align:center;
	      }

	      p{
	          margin:30px 20px auto 20px;
	      }
	      .bd-placeholder-img {
	        font-size: 1.125rem;
	        text-anchor: middle;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        -ms-user-select: none;
	        user-select: none;
	      }

	      @media (min-width: 768px) {
	        .bd-placeholder-img-lg {
	          font-size: 3.5rem;
	        }
	      }
	    </style>
	    <!-- Custom styles for this template -->
	</head>
<body>
    {{{ body }}}
</body>
</html>
